@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
   font-family: "Inconsolata", monospace;
}

.t {
    font-size: 80px;
    text-align: center;
}

.p {
    font-size: 30px;
    margin-left: 6mm;
}

.a {
    font-size: 28px;
    margin-left: 5mm;
    text-decoration: solid;
    color: black;
}

.a:hover {
    text-decoration: underline;
}

.b {
    border: 2px black solid;
    border-radius: 10px;
    font-size: 35px;
    display: grid;
    margin: 0 auto;
}