@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
   font-family: "Inconsolata", monospace;
}

.a {
   text-decoration: solid;
   font-size: 28px;
   color: rgb(0, 0, 0);
   margin-left: 5mm;
}

.a:hover {
   text-decoration: underline;
}

.t {
   font-size: 80px;
   text-align: center;
}

.p {
   font-size: 30px;
   margin-left: 6mm;
}

.b {
    display: grid;
   margin: 0 auto;
   font-size: 35px;
   border-radius: 10px;
   border: 2px black solid;
}